h1 {
  color: rgb(75, 76, 114);
  padding: 0px 20px;
  background-color: rgba(75, 76, 114, 0.2);
}

h2 {
  color: rgb(45, 45, 63);
}

.bg-purple {
  background-color: rgb(75, 76, 114);
}

.fab {
  color: rgb(164, 161, 187);
  transition: all 0.2s ease;
}

.fab:hover {
  filter: brightness(2);
  transform: scale(1.2);
}

.customButton {
  margin: 10px;
  background-color: rgb(60, 61, 100);
  padding: 20px;
  text-decoration: none;
  color: white;
  width: 200px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(60, 61, 100, 0.5);
  cursor: pointer;
  transition: all 0.3s ease;
}

.customButton:hover {
  animation: pulse 1s infinite ease-in-out;
  filter: brightness(1.5);
  color: white;
}

@keyframes pulse {
  0% {
    transform: scale(1) translateY(0px);
  }
  50% {
    transform: scale(1.05) translateY(-5px);
  }
  100% {
    transform: scale(1) translateY(0px);
  }
}

.carousel-item img {
  filter: hue-rotate(-20deg);
}

.sectionContent {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  transition: 0.2s;
  border-radius: 20px;
}

.sectionContent:hover {
  background-color: rgba(60, 61, 100, 0.5);
  color: white;
}

.emailIcon {
  transform: scale(0.8);
  animation: pulseOther 3s infinite ease-in-out;
}

@keyframes pulseOther {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}
