<div class="container-fluid bg-dark">
  <div
    class="row justify-content-center align-items-center"
    style="height: 100vh;"
  >
    <div class="col-7 text-light">
      <h5>Nombre: {{usuario.username}}</h5>
      <p>Id: {{usuario.id}} | Pass: {{usuario.pass}}</p>
    </div>
  </div>
</div>